:root {
    --primary-color: black;
    --background-color: white;
    --accent-color: #567C8D;
  }


body {
    display:flex;
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    height: 100%
}

/* create a sidebar style for nav*/
/*Sidebar*/
.sidebar {
width: 150px;
background-color: var(--primary-color);
color: var(--background-color);
padding: 20px;
position: fixed;
top: 0;
left: 0;
height: 100%;
transition: transform 0.3s ease;
transform:translateX(-100%);
z-index: 999;
}
.sidebar a {
    display: block;
    color: var(--background-color);
    text-decoration: none;
    margin: 20px 0;
}
.sidebar .logo{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    width: auto;
}
.sidebar .close-btn {
    display: block;
    background: none;
    color: var(--accent-color);
    border: none;
    font-size: 1.5em;
    margin-top: 20px;
}
.sidebar.show {
    transform: translateX(0);
}

/*Hamburger*/
.hamburger {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
    background: none;
    border: none;
    color: var(--accent-color);
    z-index: 1000;
}

main {
    padding: 5vw;
    width: 100%;
}

main header {
    display: flex;
    height: 100vh;
    width: 75%;
    margin: auto;
}

main p {
    width: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main a{
    color: var(--accent-color);
}

main h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

main h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}



.projectImage {
    width: 33%;
    float:right;
    padding-right: 5%;
    margin-left: 20px;
}

.projectImage img {
    width: 100%;
    height: auto;
}

.projectImage p {
    font-size: 0.75em;
    font-style: italic;
}

.column {
    flex:1;
    width: 100%;
}

.column2 {
    flex:2;
    width: 100%;
}
.column4 {
    flex:4;
    width: 100%;
}

.row{
    display: flex;
    gap: 30px;
    padding-bottom: 10px;
    width: 100%;
}

.offset {
    width: 50%;
    float: right;
    padding-right: 30px;
    margin-left: 30px;
}

.spacer{
    padding-top: 20px;
}


figure {
    width: 100%;
    margin: 0;
    box-sizing: border-box;

}


.timeline {
    background-color: lightgrey;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-right: 30px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 18px; /* aligns with center of .marker */
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #567C8D;
    z-index: 0;
}

img{
    max-width: 100%;
}

.marker {
    flex: 0 0 auto;
    font-size: 24px;
    line-height: 1;
    z-index: 1; /* above the line */
    width: 40px;
    text-align: center;
    padding-top: 18px;
  }
    
.timelineBlock {
    padding-left: 0px;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: 20px 0;
}

.timelineCard {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}

.projectTitle {
    margin-top: 0;
    color: var(--accent-color);
}