:root {
    --primary-color: black;
    --background-color: white;
}
p{
    font-family: "Inter", sans-serif;
    font-size: 12pt;
    margin-block-start: 0em;
}

h1{
    font-family: "Space Grotesk", sans-serif;
    font-size: 40pt;
    font-weight:normal;
}

.sidebar {
width: 150px;
background-color: var(--primary-color);
color: var(--background-color);
padding: 20px;
position: fixed;
top: 0;
left: 0;
height: 100%;
transition: transform 0.3s ease;
transform:translateX(-100%);
z-index: 999;
}
.sidebar a {
    display: block;
    color: var(--background-color);
    text-decoration: none;
    margin: 20px 0;
}
.sidebar .logo{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    width: auto;
}
.sidebar .close-btn {
    display: block;
    background: none;
    color: var(--accent-color);
    border: none;
    font-size: 1.5em;
    margin-top: 20px;
}
.sidebar.show {
    transform: translateX(0);
}

/*Hamburger*/
.hamburger {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
    background: none;
    border: none;
    color: var(--accent-color);
    z-index: 1000;
}

body {
    width:80%;
    margin: auto;
}

.row {
    display: inline-block;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.column{
    height: 100%;
}

.mediumColumn{
    display: inline-block;
    flex: 2;
}

.smallColumn{
    display: inline-block;
    flex: 1;
}

.card{
    max-width: 100%;
    box-shadow: 3px 3px 3px darkgrey;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.blue1{
    background-color: #7096D1;
}

.blue2{
    background-color: #BAD6EB;
}

.blue3 {
    background-color: #D0E3FF;
}

.projectImg {
    box-sizing: border-box;
    padding: 20px;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    overflow: scroll;
}

.projectImg img{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    box-sizing: content-box;
} 

.projTitle{
    font-size: larger;
    font-weight: bold;
}

h1 {
    justify-self: center;
}

.content{
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: none;
    padding-top: none;
    max-height: 60%;
    overflow: scroll;
}

a {
    font-family: "Inter", sans-serif;
}


